<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<center>
    <h1>Krutika Kulkarni</h1><br>
    <h1> 1001387529</h1>
<h2> Photo Album</h2>
    <h3> Register here to Upload Photos</h3>
    <form action="/register" method="post">
        Enter Username: <input type="text" name="username"> <br><br>
        Enter password: <input type="password" name="password"><br><br>
        <input type="submit" value="Register">
    </form>

    <h3> <a href='login'>Already a user? </a></h3>
</center>
</body>
</html>